<footer class="page-footer font-small" style="background-color: #04304b;">
  <div class="container text-center text-md-left">
    <div class="row">

      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto my-5">
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto my-5">
        <h6 class="text-uppercase font-weight-bold">About Us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Mission</a>
        </p>
        <p>
          <a href="#!">Certifications</a>
        </p>
        <p>
          <a href="#!">Team</a>
        </p>
        <p>
          <a href="#!">Awards</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto my-5">
        <h6 class="text-uppercase font-weight-bold">Get Involved</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Donate</a>
        </p>
        <p>
          <a href="#!">Upcoming Events</a>
        </p>
        <p>
          <a href="#!">Nominate a Child</a>
        </p>
        <p>
          <button type="button" class="btn btn-elegant" (click)="donateButton()">Donate</button>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 my-5">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> 1-503, Pullayya Gari Thota, Gollavanithippa, Bhimavaram, AP - 534239
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> helpingheartsteam@gmail.com
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i> +91 9491088108
        </p>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3" style="background-color: #04304b;">© 2018 Copyright:
    <a> Teja@groups.com</a>
  </div>

</footer>
