<app-header-page></app-header-page>

<div class="container my-5 py-5 z-depth-1">

  <section class="px-md-5 mx-md-5 text-center dark-grey-text">
    <h3 class="font-weight-bold">Volunteer Registration Form</h3>

    <div class="col-md-12 mb-md-0 mb-5">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="contact-name" class="form-control">
              <label for="contact-name" class="">Your name</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="contact-email" class="form-control">
              <label for="contact-email" class="">Your email</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="number" id="contact-Phone" class="form-control">
              <label for="contact-Phone" class="">Phone Number</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="md-form mb-0">
              <select class="browser-default custom-select">
                <option selected>Open this select menu</option>
                <option value="1">A+</option>
                <option value="2">A-</option>
                <option value="3">B+</option>
                <option value="4">B-</option>
                <option value="5">O+</option>
                <option value="5">O-</option>
                <option value="7">AB+</option>
                <option value="8">AB-</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <textarea id="contact-address" class="form-control md-textarea" rows="3"></textarea>
              <label for="contact-address">Your Address...</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <textarea id="contact-message" class="form-control md-textarea" rows="3"></textarea>
              <label for="contact-message">You would like to ask us?</label>
            </div>
          </div>
        </div>
      </form>

      <div class="text-center text-md-left">
        <a class="btn btn-primary btn-md btn-rounded">Send</a>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <i class="fas fa-map-marker-alt fa-2x blue-text"></i>
        <p class="font-weight-bold my-3">Address</p>
        <p class="text-muted">Helping Hearts Foundation,</p>
        <p class="text-muted">1 - 503, Pullayya Gari thota,</p>
        <p class="text-muted">Gollavanithippa, Bhimavaram,</p>
        <p class="text-muted">Andhra Pradesh - 534239.</p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <i class="fas fa-phone fa-2x blue-text"></i>
        <p class="font-weight-bold my-3">Phone number</p>
        <p class="text-muted">+91 9491088108</p>
        <p class="text-muted">+91 9493357473</p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <i class="fas fa-envelope fa-2x blue-text"></i>
        <p class="font-weight-bold my-3">E-mail</p>
        <p class="text-muted">helpingheartsteam@gmail.com</p>
      </div>
    </div>
  </section>
</div>



<app-footer-page></app-footer-page>
