<app-header-page></app-header-page>

<section class="container pt-5 pb-3">
  <div class="jumbotron text-center hoverable p-4">
    <div class="row">
      <div class="col-md-4 offset-md-1 mx-3 my-3">
        <div class="view overlay">
          <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid"
            alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>

      <div class="col-md-7 text-md-left ml-3 mt-3">
        <a href="#!" class="green-text">
          <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Work</h6>
        </a>

        <h4 class="h4 mb-4">Your Kindness today Could save a Life tomorrow, Please Donate.</h4>

        <p class="font-weight-normal">
          Send your contributions to the below account. Please inform us when u are sending your contributions so that
          we can keep a track of every penny and we can give proper feedback on time.
        </p>

        <a class="green-text">
          <h6 class="h6 pb-1">
            <i class="fas fa-desktop pr-1"></i> Bank Details
          </h6>
        </a>

        <strong class="h6 mb-2">Account Name : </strong><label class="labelcolor">HEALPING HEARTS FOUNDATION</label><br>
        <strong class="h6 mb-2">Account No : </strong><label class="labelcolor">17911100000830</label><br>
        <strong class="h6 mb-2">IFSC : </strong><label class="labelcolor">ANDB0000179</label><br>
        <strong class="h6 mb-2">Bank Name : </strong><label class="labelcolor">Andhra Bank</label><br>
        <strong class="h6 mb-2">Branch Name : </strong><label class="labelcolor">Gollavanithippa, Bhimavaram, W.G Dist,
          AP - 534239.</label>
      </div>
    </div>
  </div>
</section>

<app-footer-page></app-footer-page>
