<app-header-page></app-header-page>


<section class="contact-section container my-5">
  <h3 style="text-align: center;"><b>Photos</b></h3>

  <div class="row">
    <div class="col-md-4 pb-3">
      <img src="../../assets/1.jpg" alt="image_1.jpg">
    </div>
    <div class="col-md-4 pb-3">
      <img src="../../assets/2.jpg" alt="image_2.jpg">
    </div>
    <div class="col-md-4 pb-3">
      <img src="../../assets/3.JPG" alt="image_3.jpg">
    </div>
  </div>
  <div>&nbsp;</div>
  <div class="row">
    <div class="col-md-4 pb-3">
      <img src="../../assets/7.JPG" alt="image_7.jpg">
    </div>
    <div class="col-md-4 pb-3">
      <img src="../../assets/5.jpg" alt="image_5.jpg">
    </div>
    <div class="col-md-4 pb-3">
      <img src="../../assets/6.jpg" alt="image_6.jpg">
    </div>
  </div>
  <div>&nbsp;</div>
  <div class="row">
    <div class="col-md-4 pb-3">
      <img src="../../assets/8.jpg" alt="image_8.jpg">
    </div>
    <div class="col-md-4 pb-3">
      <img src="../../assets/4.jpg" alt="image_4.jpg">
    </div>
    <div class="col-md-4 pb-3">
    </div>
  </div>
</section>



<app-footer-page></app-footer-page>
