<section>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section class="container pt-5 pb-3">
  <div class="card-deck text-center">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title h4_Color">About Us</h4>
        <p class="card-text">
          Helping Hearts is made of such ideas to help the Physically disabled persons and orphans,
          people who are in emergency situations or in any way to serve the fellow people who are helpless.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title h4_Color">Our History</h4>
        <p class="card-text">
          Seeing a need for energetic, nonprofit work in this area, we formed our organization to provide sensible
          solutions.We've consistently grown since then, all thanks to the helping hearts of this amazing
          community!.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title h4_Color">Our Mission</h4>
        <p class="card-text">
          We focus on making the maximum positive effort for our community. Our members and volunteers provide the
          momentum that helps us affect change.Using data driven models, we provide solutions that make a
          long-lasting difference.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="p-5 z-depth-1 count_bg_Color">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 col-lg-4 mb-4 text-center">
      <h4 class="h1 font-weight-normal mb-3">
        <span class="d-inline-block count-up">{{mealsCount}}</span>
      </h4>
      <p class="font-weight-normal text-muted">No Of Meals Served</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 text-center">
      <h4 class="h1 font-weight-normal mb-3">
        <span class="d-inline-block count1">{{medicalCount}}</span>
      </h4>
      <p class="font-weight-normal text-muted">Medical Assistance</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 text-center">
      <h4 class="h1 font-weight-normal mb-3">
        <span class="d-inline-block count2">{{orphansCount}}</span>
      </h4>
      <p class="font-weight-normal text-muted">No Of Orphans Saved</p>
    </div>
  </div>
</section>

<div class="container my-5">

  <section class="team-section text-center dark-grey-text">

    <h3 class="font-weight-bold pb-2 mb-4 team_Color">Our amazing team</h3>
    <p class="text-muted w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>

    <div class="row text-center">
      <div class="col-md-4 mb-4">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
        </div>
        <h4 class="font-weight-bold dark-grey-text my-4 team_Color">Maria Kate</h4>
        <h6 class="text-uppercase grey-text mb-3"><strong>Photographer</strong></h6>
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
      </div>

      <div class="col-md-4 mb-4">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
        </div>
        <h4 class="font-weight-bold dark-grey-text my-4 team_Color">Maria Kate</h4>
        <h6 class="text-uppercase grey-text mb-3"><strong>Photographer</strong></h6>
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
      </div>

      <div class="col-md-4 mb-4">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
        </div>
        <h4 class="font-weight-bold dark-grey-text my-4 team_Color">Maria Kate</h4>
        <h6 class="text-uppercase grey-text mb-3"><strong>Photographer</strong></h6>
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>

  </section>
</div>